# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production build
build/

# Miscellaneous
.DS_Store

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Lock files (ensure consistency if using only one package manager)
package-lock.json
yarn.lock

# Custom scripts
commit.sh

# See https://help.github.com/ignore-files/ for more about ignoring files.
